.card-list{
    width: 86vw;
    height: 100%;
    padding: 0px 20px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
@media(max-width: 1300px){
    .card-list{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 850px){
    .card-list{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 600px){
    .card-list{
        grid-template-columns: 1fr;
    }
}